/* ********************************************************************
*   Author : Cheserae Bidgood(Beukes)
*   Date : 23/05/2018   
*
**********************************************************************/
*{
    font-family: "Yu Gothic"
}
/* Font Size******************************************************** */
/* Absolute value */
h1{
    font-size: 30px
}
/* Relative value */
ol{
    font-size: 16px;
}
ol li{
    font-size: 4em; /* meaning 4x the oriinal size */
}

article{
    font-size: 20px;
}
article h1{
    font-size: 150%; /*meaning 50% bigger than inherited style*/
}
article p{
    font-size: 50%; /*meaning 1/2 the size of the inherited style*/
}
/* Font family****************************************************** */
#greet{
    font-family: Arial, Helvetica, sans-serif;
}
/* Text Decoration************************************************** */
#greet_somemore{
    text-decoration: overline;
}
#greet_somemore p{
    text-decoration: underline;
}
#greet_somemore ol{
    text-decoration: line-through;
}
#greet_somemore li{
    text-decoration: inherit;
}
/* Font Weight****************************************************** */
article h1{
    font-weight: lighter;
}
article h2{
    font-weight: bold;
}
article h3{
   font-weight: normal;
}
article p{
    font-weight: bolder;
}
article h4{
    font-weight: 100;
}