/* ********************************************************************
*   Author : Cheserae Bidgood(Beukes)
*   Date : 23/05/2018   
*
**********************************************************************/
/* Backgrounds****************************************************** */
.greet_box1{
    margin: 25px auto;
    height: fit-content;
    width: fit-content;
    padding: 20px 25%;
    border: 3px solid black;
    border-radius: 15px;
    background-image: url(../Images/cheeze.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Short hand */
.greet_box2{
    margin: 25px auto;
    height: fit-content;
    width: fit-content;
    padding: 20px 25%;
    border: 3px solid black;
    border-radius: 15px;
    background: url(../Images/cheeze.gif) no-repeat bottom; /*short hand*/
    background-size: cover;
    /* background-image: url(../Images/cheeze.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

}
/* Multiple backgrounds */
#banner{
    background-color: gray;
    width: cover;
    height: 400px;
    background-image:url(../Images/cheese-128.png),/*this is the top image*/ 
    url(../Images/big_cheese_banner_logo.png);/*the imafe that will go behind it*/
    background-repeat: no-repeat;
    background-position: center, top left;
    background-size: 300px, 100% 100%;
 
}
/* Color */
#header{
    background-color: #ff9100;
}
#greet{
    background-color: rgba(13, 243, 224, 0.3)
}
/* Opacity : transparent or not */
.more1{
    opacity: 0.5;
}
/* Grasient */
.button{
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    background: #ff6600;
    margin: auto;
    font-size: 100%;
    padding: 50px;
    background: linear-gradient(top, #ff6600 0%, yellow 100%);
    /* The above parameters(where to begin, 
    which color and % start, which color and % end) the above wont work
    we need some vendor prefixes */
    background: -moz-linear-gradient(top, #ff6600 0%, yellow 100%); /*Motzilla*/
    background: -webkit-linear-gradient(top, yellow 0%, #ff4800 100%); /*chrome or safari*/
    background: linear-gradient(top, #ff6600 0%, yellow 100%);
}