#body{
    background: lightsalmon;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid black;
    background-attachment: fixed;
    font-size: 200%;
    align-self: center;
    text-align: center
    ;
}
h3 {text-align: center; text-decoration-line: underline; text-decoration-color: black; text-transform: uppercase}
#mapholder{display: block; margin: 0 auto}
#mapholder2{display: block; margin: 0 auto}
#demo{display: block; margin: 0 auto}
#div1{
    width: 340px;
    height: 405px;
    padding: 10px;
    border: 1px solid black
}