h1 {text-align: center;
    text-transform: uppercase; text-decoration-line: underline; text-decoration-color: black}
body {color: white}
#form{
    font-size: 300%;
    
} input{font-size: 100%} fieldset{color: white; border-color: yellow} legend{color: springgreen}



