#body{
    background: lightsalmon;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid black;
    background-attachment: fixed;
    font-size: 200%
    ;
}
h3 {text-align: center; text-decoration-line: underline; text-decoration-color: black; text-transform: uppercase}
#mapholder{display: block; margin: 0 auto}
#mapholder2{display: block; margin: 0 auto}
#demo{display: block; margin: 0 auto}
#dragdrop{width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid black
}