#body{
    background: url(../Images/IMG_205313.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid black;
    background-attachment: fixed;
    ;
}
address {text-align: center; font-size: 50px}