h1 {text-align: center; text-transform: uppercase; text-decoration-line: underline}
a{color: white}
#body {
    background: url(../Images/burning_hd_nature_wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    border: 10px solid black;
    color: white;
}
