#body{
    background: lightgreen;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid black;
    background-attachment: fixed;
    font-size: 200%
    ;
}
video{display: block;
        margin: 0 auto}
p {text-align: center;
    text-decoration-line: underline;
    text-emphasis: initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-decoration-color: blue;
    text-transform: uppercase}
    